.login_section_container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; /* Ensure proper positioning for the overlay */
}

.login-wrapper {
  width: 100%;
  max-width: 400px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  background: url('../../assets/login-bg.png')rgba(109, 134, 167, 0.7);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative; /* Ensure z-index works */
}
.forget_pass a{
  text-decoration: none;
  color: white;
}
.forget_pass a:hover{
  color: wheat;
}
