@font-face {
    font-family: 'Nikosh';
    src: url('Nikosh.eot');
    src: url('../fonts/Nikosh.ttf') format('truetype'), url('Nikosh.woff') format('woff'), url('Nikosh.svg#Nikosh') format('svg'), url('Nikosh.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    color: #3E3E3E;
    background: #fff;
    font-family: 'Nikosh', sans-serif;
    font-size: 15px;
}

.form-control:focus {
    outline: transparent;
    -webkit-box-shadow: inset 0 0px 0 transparent;
    box-shadow: inset 0 0px 0 transparent;
    border-color: #ddd;
}

.btn:focus {
    border-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.animated {
    animation-duration: 2.5s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1)
    }
    50% {
        transform: scale(1.1)
    }
    to {
        transform: scale(1)
    }
}

.pulse {
    animation-name: pulse;
    animation-duration: 1s;
}

.table tbody td,
.table thead th {
    vertical-align: middle;
}

.table thead th {
    text-align: center;
}


/* Main Style Start */


/* Top Header Start */

.top_header_section {
    padding: 0.5rem 1rem;
    color: #fff;
    background: #7D48EC;
}

.top_header_section .social-wrapper .list-group-item {
    padding: 0rem 0.6rem;
    background: transparent;
    border: none;
}

.top_header_section .social-wrapper .list-group-item a {
    color: #fff;
    font-size: 1.1rem;
}

.top_header_section .social-wrapper .list-group-item a:hover {
    color: #ddd;
}

.rightbar {
    text-align: right;
}

.rightbar .login img {
    margin-right: 110px;
    width: 130px;
    vertical-align: middle;
    margin-top: -11px;
}

.rightbar .signin img {
    margin-right: 4px;
    width: 18px;
    vertical-align: text-top;
}

.rightbar .signin,
.rightbar .login {
    color: #fff;
    font-weight: 600;
}

.rightbar .signin:hover,
.rightbar .login:hover {
    color: #ddd;
    text-decoration: none;
}

.rightbar .login {
    margin-left: 20px;
    padding-left: 20px;
    border-left: 1px solid #aaa;
}


/* .rightbar .signin i,
.rightbar .login i {
    font-size: 19px;
} */


/* Navbar Start */

.navbar-expand-lg .navbar-collapse {
    justify-content: end;
}

.header-wrapper .logo_wrapper {
    display: flex;
    align-items: center;
    justify-content: start;
}

.navbar-light .navbar-brand {
    color: #3E3E3E;
}

.header-wrapper .logo_wrapper img {
    margin-right: 10px;
}

.header-wrapper .logo_wrapper .dialog {
    display: flex;
    flex-direction: column;
}

.header-wrapper .logo_wrapper .dialog .t1 {
    font-size: 0.96rem;
    font-weight: 600;
}

.header-wrapper .logo_wrapper .dialog .t2 {
    font-weight: 600;
}

.navbar .navbar-nav .nav-item .nav-link {
    padding: 0.5rem 0.5rem;
    color: #3E3E3E;
    font-size: 1.15rem;
}

.slider-wrapper {
    position: relative;
    margin-top: 92px;
    padding: 70px 0 20px;
    background: url(../img/banner.png) no-repeat;
    background-size: cover;
}

.slider-wrapper::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(0 0 0 / 70%);
}

.slider-wrapper .slider-menu {
    margin-top: 80px;
}

.slider-wrapper .slider-menu .card {
    min-height: 226px;
    margin-bottom: 25px;
    color: #fff;
    text-align: center;
    border-radius: 10px;
    border: none;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
}

.slider-wrapper .slider-menu .search-card {
    background: #0841C2;
}

.slider-wrapper .slider-menu .update-card {
    background: #0DC8D1;
}

.slider-wrapper .slider-menu .family-card {
    background: #96959A;
}

.slider-wrapper .slider-menu .user-card {
    background: #4378BC;
}

.slider-wrapper .slider-menu .card .card-body {
    padding: 2rem 1.5rem;
}

.slider-wrapper .slider-menu .card .card-body .card-title {
    margin-bottom: 40px;
    font-weight: 600;
}

.slider-wrapper .slider-menu .card .card-body .card-link {
    color: #fff;
}

.slider-wrapper .qna-wrapper>h3 {
    color: #fff;
    font-weight: 600;
}

.slider-wrapper .qna-wrapper>p {
    color: #DADADA;
}

.slider-wrapper .qna-wrapper .accordion-wrapper {
    padding-right: 10px;
    height: 480px;
    overflow: auto;
}


/* width */

.slider-wrapper .qna-wrapper .accordion-wrapper::-webkit-scrollbar {
    width: 8px;
}


/* Track */

.slider-wrapper .qna-wrapper .accordion-wrapper::-webkit-scrollbar-track {
    background: rgb(255 255 255 / 15%);
    border-radius: 10px;
}


/* Handle */

.slider-wrapper .qna-wrapper .accordion-wrapper::-webkit-scrollbar-thumb {
    width: 2px;
    background: rgb(255 255 255 / 30%);
    border-radius: 10px;
}


/* Handle on hover */

.slider-wrapper .qna-wrapper .accordion-wrapper::-webkit-scrollbar-thumb:hover {
    background: #D9D9D9;
}

.slider-wrapper .qna-wrapper .accordion .card {
    margin-bottom: 20px;
    background: rgb(255 255 255 / 80%);
    border-radius: 5px;
}

.slider-wrapper .qna-wrapper .accordion .card .card-header {
    padding: 0.2rem 0.3rem;
    background: rgb(255 255 255 / 60%);
}

.slider-wrapper .qna-wrapper .accordion .card .card-header h2 button {
    color: #242424;
    font-weight: 600;
}

.slider-wrapper .qna-wrapper .accordion .card .card-header h2 button i {
    margin-right: 3px;
    color: #7030A0;
}

.slider-wrapper .qna-wrapper .accordion .card .card-body {
    padding: 1rem 1.3rem;
}

.slider-wrapper .qna-wrapper .accordion .card .card-body .qna-item h6 {
    margin-bottom: 5px;
    color: #6D0000;
    font-size: 1rem;
    font-weight: 600;
}

.slider-wrapper .qna-wrapper .accordion .card .card-body .qna-item h6 i {
    margin-right: 3px;
    vertical-align: top;
}

.slider-wrapper .qna-wrapper .accordion .card .card-body .qna-item p {
    margin-bottom: 10px;
    font-size: 0.91rem;
    line-height: 19px;
}

.slider-wrapper .login-wrapper {
    position: relative;
    margin-top: 80px;
    padding: 1.5rem;
    background: rgb(255 255 255 / 30%);
    text-align: center;
    border-radius: 10px;
}

.slider-wrapper .login-wrapper::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../img/login-bg.png) no-repeat;
    background-size: auto;
}

.slider-wrapper .login-wrapper h5 {
    color: #fff;
    font-weight: 600;
}

.slider-wrapper .login-wrapper small {
    display: block;
    margin-bottom: 20px;
    color: #fff;
}

.slider-wrapper .login-wrapper .form-wrapper .input-group .input-group-text {
    padding-right: 0.3rem;
    background: #fff;
    border: none;
}

.slider-wrapper .login-wrapper .form-wrapper .input-group .input-group-text i {
    color: #ABA7A7;
}

.slider-wrapper .login-wrapper .form-wrapper .input-group .form-control {
    font-size: 0.9rem;
    border: none;
}

.slider-wrapper .login-wrapper .form-wrapper .custom-control.custom-checkbox {
    text-align: left;
}

.slider-wrapper .login-wrapper .form-wrapper .custom-control.custom-checkbox .custom-control-input {
    border-radius: 8px;
}

.slider-wrapper .login-wrapper .form-wrapper .custom-control.custom-checkbox .custom-control-label {
    color: #fff;
}

.slider-wrapper .login-wrapper .form-wrapper .login-btn {
    background: #7D48EC;
    font-weight: 600;
    letter-spacing: 1px;
}

.slider-wrapper .login-wrapper .form-wrapper .input-group .forgot-pass {
    color: #fff;
    font-size: 0.8rem;
}

.slider-wrapper .login-wrapper .form-wrapper .input-group .forgot-pass:hover {
    text-decoration: underline;
}

.gallery-wrapper {
    margin: 70px 0;
}

.gallery-wrapper h2 {
    color: #222;
}

.gallery-wrapper .photo-item {
    margin-bottom: 20px;
    padding: 8px 5px;
    border: 1px dashed #eee;
    text-align: center;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
}

.gallery-wrapper .photo-item h6 {
    margin: 10px 0 0;
    font-weight: 600;
    text-align: left;
}

.video-wrapper {
    position: relative;
    padding: 70px 0 50px;
    background: url(../img/video-bg.png) no-repeat;
    background-size: cover;
}

.video-wrapper h2 {
    color: #222;
}

.video-wrapper p {
    color: #333;
}

.video-wrapper .video-item iframe {
    margin-bottom: 20px;
    border-radius: 10px;
}

.footer-top {
    padding: 40px 0 15px;
    background: #EBECF9;
}

.footer-top .footer-link {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-top .footer-link ul {
    margin: 0 0 10px;
    padding: 0;
    list-style: none;
}

.footer-top .footer-link ul li a {
    display: block;
    margin-bottom: 10px;
    color: #444;
    font-weight: 600;
}

.footer-top .footer-link ul li a:hover {
    color: #7D48EC;
}

.footer-bottom {
    padding: 40px 0 0;
    border-top: 5px solid #7D48EC;
}

.footer-bottom .logo-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-bottom .logo-wrapper .logo-text {
    margin-left: 15px;
}

.footer-bottom .logo-wrapper .logo-text h5 {
    margin-bottom: 0;
    color: #444;
    font-size: 1.1rem;
    font-weight: 600;
}

.footer-bottom .logo-wrapper .logo-text h6 {
    color: #666;
    font-weight: 600;
}

.footer-bottom .logo-wrapper img {
    width: 64px;
}

.footer-bottom .copyright {
    margin: 35px 0 0;
    padding: 8px 0;
    color: #666;
    text-align: center;
    border-top: 1px solid #E5E5E5;
}

.footer-bottom .copyright p {
    margin: 0;
    color: #777;
}


/* Extra small devices */

@media (max-width: 767.98px) {
    .label-min-mb {
        margin-bottom: 0.5rem;
    }
    .top_header_section,
    .rightbar {
        text-align: center;
    }
    .header-wrapper .navbar.fixed-top {
        top: 71px;
        border-bottom: 2px solid #7030a0;
    }
    .rightbar {
        margin: 8px 0 2px;
    }
    .rightbar .login img {
        width: 100px;
    }
    .header-wrapper .sub_logo_navbar_nav .nav-item:nth-child(2) {
        margin: 12px 0 18px;
    }
}


/* Medium devices (tablets, 768px and up) */

@media (min-width: 768px) and (max-width: 991.98px) {
    .header-wrapper .navbar.fixed-top {
        top: 35px;
    }
    .rightbar .login img {
        width: 100px;
    }
    .rightbar {
        display: flex;
    }
}


/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) and (max-width: 1199.98px) {}


/* Extra large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {
    .header-wrapper .navbar.fixed-top {
        top: 40px;
    }
}



.login {
    position: relative;
}

.top-phone-number {
    position: absolute;
    top: -9px;
    right: 0;
}

.phone-time {
    position: absolute;
    top: 10px;
    font-size: 12px;
    color: #ffffff;
    right: 22px;
}